.popup__edit {
    width: 100%;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: black;
    margin: 34px auto 38px;
    max-width: calc(100% - 72px);
}
  
@media screen and (max-width: 767px) {
    .popup__edit {
        max-width: calc(100% - 44px);
        margin: 25px auto 64px;
        font-size: 18px;
        line-height: 22px;
    }
}