.card__delete-button {
    right: 20px;
    top: 20px;
    padding: 0;
    width: 18px;
    height: 19px;
    border: none;
    background-image: url(../../../Images/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    transition: 0.3s;
}

.card__delete-button:hover {
    opacity: 0.6;
    transform: scale(1.2);
}