.header {
    max-width: 880px;
    padding: 45px 0 40px 0;
    margin: 0 auto;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (max-width: 1024px) {
  .header{
    width: 90%;
  }
}

@media screen and (max-width: 767px){
    .header{
      padding-top: 28px;
      padding-bottom: 32px;
      width: 100%;
    }
  }