.header__button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #A9A9A9;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
}

.header__button:hover {
    opacity: .6;
}